<section class="container">
	<div class="row">

		<article id="content" class="col-md-9">
			<h1>Edit Post</h1>

			<%= render 'form' %>

		</article>

		<aside class="col-md-3">
			
		</aside>
	</div>
</section>
