<footer class="container-fluid">
    	<div class="row">

    		<div class="fatfooter container" role="complementary">
    			<div class="row">

    				<div class="widget-area col-md-3">
    					<div class="widget-container">
    						<h3>A Widget Area</h3>
    						<p>A widget area in the footer - use plugins and widgets to populate this.</p>
    					</div>
    				</div>

    				<div class="widget-area col-md-3">
    					<div class="widget-container">
    						<h3>A Widget Area</h3>
    						<p>A widget area in the footer - use plugins and widgets to populate this.</p>
    					</div>
    				</div>

    				<div class="widget-area col-md-3">
    					<div class="widget-container">
    						<h3>A Widget Area</h3>
    						<p>A widget area in the footer - use plugins and widgets to populate this.</p>
    					</div>
    				</div>

    				<div class="widget-area col-md-3">
    					<div class="widget-container">
    						<h3>A Widget Area</h3>
    						<p>A widget area in the footer - use plugins and widgets to populate this.</p>
    					</div>
    				</div>

    			</div>	<!-- .row -->
    		</div>	<!-- .fatfooter -->

    	</div>	<!-- .row -->
    </footer>