<aside class="sidebar widget-area col-md-3" role="complementary">

	<div class="widget-container">
		<h3 class="widget-title">A sidebar widget</h3>
		<p>This is a sidebar widget - in your WordPress theme you can set these up to display across your site.</p>
	</div>	<!-- .widget-container -->

	<div class="widget-container">
		<h3 class="widget-title">A sidebar widget</h3>
		<p>This is a sidebar widget - in your WordPress theme you can set these up to display across your site.</p>
	</div>	<!-- .widget-container -->

</aside>